@import "../../../../styles/vars.scss";

.subheading {
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 0;
}

.images {
  --bs-gutter-x: 0.5rem;
  .singleImage {
    position: relative;
    min-height: 50px;
    height: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    .overlay {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .indicator {
      display: flex;
      border-radius: 50%;
      position: absolute;
    }
    .imageActiveIndicator {
      background-color: $secondary;
      color: #FFF;
      top: 5px;
      right: 5px;
      padding: 5px;
    }
    .sexIndicator {
      background-color: #000;
      top: 5px;
      left: 5px;
      color: #FFF;
      padding: 6px 7px;
    }
    .additionalInfo {
      font-size: 0.75em;
      padding: 0.5em;
    }
  }
}

.viewer {
  display: flex;
  width: 100%;
  border-radius: 5;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}

.tools {
  position: absolute;
  top: $xxs;
  left: $xxs;
  z-index: 100;
  button {
    display: block;
    width: 2rem;
    height: 2rem;
    appearance: none;
    border: 0;
    outline: none;
    background-color: $white;
    border-radius: 5px;
    margin-bottom: $xxs;
  }
}

.filtersWrapper {
  display: flex;
  gap: 2rem;
  padding-top: 0.5em;
  .filter {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .badge {
      cursor: pointer;
      font-size: 1rem;
    }
  }
}
