@import "../../../../styles/vars.scss";

.subheading {
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 0;
}

.legendsContainer {
  padding: 1em;
  background-color: #e8e8e8;
  border-radius: 10px;
  display: flex;
  gap: 1.5em;
}

.images {
  --bs-gutter-x: 0.5rem;
  .singleImage {
    position: relative;
    min-height: 50px;
    height: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    .overlay {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .indicator {
      display: flex;
      border-radius: 50%;
      position: absolute;
    }
    .indicatorsContainer {
      display: flex;
      top: 5px;
      left: 5px;
      position: absolute;
      .common {
        background-color: #000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
      }
      .sexIndicator {
        color: #FFF;
      }
      .zygosityIndicator {
        font-size: 0.75em;
      }
    }
    .imageActiveIndicator {
      background-color: $secondary;
      color: #FFF;
      top: 5px;
      right: 5px;
      padding: 5px;
    }
    .additionalInfo {
      font-size: 0.75em;
      &:not(:empty) {
        padding: 0.5em;
      }
    }
  }
}

.viewer {
  display: flex;
  width: 100%;
  border-radius: 5;
  overflow: hidden;
  position: relative;
}

.tools {
  position: absolute;
  top: $xxs;
  left: $xxs;
  z-index: 100;
  button {
    display: block;
    width: 2rem;
    height: 2rem;
    appearance: none;
    border: 0;
    outline: none;
    background-color: $white;
    border-radius: 5px;
    margin-bottom: $xxs;
  }
}
