
.image-wrapper {
  display: inline-flex !important;
  flex-direction: column;
  & > * {
    align-self: center;
  }
}

.slick-slider .slick-prev {
  left: -5px;
  z-index: 1;
}
.slick-slider .slick-next {
  right: -5px;
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  color: $blue !important;
}