@import "../../../../styles/vars.scss";

.inlineModal {
  background: white;
  padding: calc($spacing * 3);
  border-radius: calc($spacing / 2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  max-width: 400px;
}
