$orange: #ed7b25;
$orange-light: #fdf0e5;
$orange-dark: #b65a15;
$blue: #00b0b0;
$blue-light: #e1f6f6;
$red: #c30000;
$navy: #2962ff;
$navy-light: #ebf0ff;
$purple: #750065;
$lime: #97cd2a;
$grey: #8e8e8e;
$bg: #ececec;

$font-md: 1rem;
$font-sm: 0.875rem;

// Bootstrap override scss variables

$body-bg: $bg;

$theme-colors: (
  'primary': $orange,
  'primary-dark': $orange-dark,
  'secondary': $blue,
  'danger': $red,
  'success': $lime,
);

$container-max-widths: (
  '': 1240px,
);
